<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687559068453-paed39hm62vpfhlc9lqeii0o15d16ccg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687559068453-paed39hm62vpfhlc9lqeii0o15d16ccg</string>
	<key>API_KEY</key>
	<string>AIzaSyAQNU-eha1P1F68-9gObiMWhuKAq7MN4Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>687559068453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mildmay</string>
	<key>PROJECT_ID</key>
	<string>mildmay-306119</string>
	<key>STORAGE_BUCKET</key>
	<string>mildmay-306119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687559068453:ios:2c1590f02beefbdf3be8cc</string>
</dict>
</plist>